[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
beautifulsoup4 = "*"
django = "==2.2.9"
djangorestframework = "*"
pylint = "*"
django-cors-headers = "*"

[requires]
python_version = "3.7"
